.navbar{
    background-color: white;
}
.navbar-nav{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Color cuando el mouse pasa por encima (hover) */
.nav-link:hover {
    color: #42ea19!important;  /* Color de texto al pasar el mouse (cambia a tu color deseado) */
  }

  /* Color de la letra para el ítem activo */
.nav-link.active {
    color: #42ea19 !important;  /* Color de texto cuando el ítem está activo */

  }